<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel="stylesheet" th:href="@{/chart.css}" />
</head>
<body>

<select class="dropdown" id="dd">
<!--    <option value="" selected="selected">Select Serial Number</option>-->
    <option value="points">Points</option>
    <option value="goals">Goals Scored</option>
    <option value="assists">Assists</option>
    <option value="goals_conceded">Goals conceded</option>
    <option value="influence">Influence</option>
    <option value="creativity">Creativity</option>
    <option value="threat">Threat</option>
    <option value="ict_index">Ict_index</option>
    <option value="clean_sheets">Clean Sheets</option>
    <option value="saves">Saves</option>
    <option value="yellow_cards">Yellow Cards</option>
    <option value="red_cards">Red cards</option>
</select>


<div id="chartContainer" style="height : 370px; width: 100%;"></div>
<script type="text/javascript" th:inline="javascript" class="init">
        /*<![CDATA[*/
        window.onload = function (e) {
            var dps = [];
            var minutes = [];
            var playerInfo = /*[[${playerInfo}]]*/ 'null';
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Data chart of " + playerInfo.web_name
                },
                axisY:[{
                    title: "Points gained",
                    lineColor: "#369EAD",
                    titleFontColor: "#369EAD",
                    labelFontColor: "#369EAD"
                }],
                axisY2:[{
                    title: "Minutes played",
                    lineColor: "#7F6084",
                    titleFontColor: "#7F6084",
                    labelFontColor: "#7F6084"
                }],
                data: [
                {
                    type: "column",
                    axisYType: "secondary",
                    dataPoints: minutes
                },
                {
                        type: "line",
                        dataPoints: dps
                    }]
            });

            var dataPointsList = /*[[${playerData}]]*/ 'null';
            count = 0;
            for (var i = 0; i < dataPointsList.length; i++) {
                var dataPoints = dataPointsList[i];
                dps[count] = {
                    x: dataPoints.round,
                    y: dataPoints.points
                }
                minutes[count++] = {
                    x: dataPoints.round,
                    y: dataPoints.minutes
                }
            }
            $( ".dropdown" ).change(function() {
                chart.options.data[1].dataPoints = [];
                var e = document.getElementById("dd");
                var selected = e.options[e.selectedIndex].value;
                chart.options.axisY[0].title = selected.charAt(0).toUpperCase() + selected.slice(1).replace('_', ' ');
                for(var i in dataPointsList) {
                    var xVal = dataPointsList[i][selected];
                    chart.options.data[1].dataPoints.push({x: dataPointsList[i]["round"], y: xVal});
                }
                chart.render();
            })
            chart.render();
        }
        /*]]>*/
    </script>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="menu">
    <form method="#" th:action="@{/players}">
        <input type="submit" value="Go back to players` table"/>
    </form>
</div>

</body>
</html>