<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appka</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="menu">
    <div class="title">
        Welcome to
        <br>Fantasy Premier League
        <br>data app
    </div>
    <div class="buttons">
        <form method="#" th:action="@{/players}">
            <input type="submit" value="Show players` data"/>
        </form>
        <form method="#" th:action="@{/settings}">
            <input type="submit" value="Go to settings"/>
        </form>
    </div>
</div>
</body>
</html>