<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="menu">
    <div class="title">
        Settings
    </div>
    <div class="buttons">
        <td th:switch="${canUpdate}">
            <span th:case='true'>
                <form method="#" th:action="@{/update-start}">
                    <input type="submit" value="Start update stats"/>
                </form>
            </span>
            <span th:case='false'>
                <form method="#" th:action="@{/update-stop}">
                    <input type="submit" value="Stop update stats"/>
                </form>
            </span>
        </td>
        </td>
        <form method="#" th:action="@{/start}">
            <input type="submit" value="Download all data"/>
        </form>
        <form method="#" th:action="@{/}">
            <input type="submit" value="Back"/>
        </form>
    </div>
</div>
</body>
</html>