<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/table.css}" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Premier League stats</h1>
<h2>
    <form method="#" th:action="@{/}">
        <input type="submit" value="Back to home"/>
    </form>
</h2>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
        </div>
    </div>
</div>
<table id="myTable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>position</th>
        <th>rounds</th>
        <th>points</th>
        <th>goals scored</th>
        <th>goals conceded</th>
        <th>assists</th>
        <th>minutes</th>
        <th>influence</th>
        <th>clean sheets</th>
        <th>saves</th>
        <th>yellow cards</th>
        <th>red cards</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "profile: ${profiles}">
        <td th:text="${profile.playerId}"></td>
        <td th:text="${profile.name}"></td>
        <td th:text="${profile.position}"></td>
        <td th:text="${profile.round}"></td>
        <td th:text="${profile.points}"></td>
        <td th:text="${profile.goals}"></td>
        <td th:text="${profile.goals_conceded}"></td>
        <td th:text="${profile.assists}"></td>
        <td th:text="${profile.minutes}"></td>
        <td th:text="${profile.influence}"></td>
        <td th:text="${profile.clean_sheets}"></td>
        <td th:text="${profile.saves}"></td>
        <td th:text="${profile.yellow_cards}"></td>
        <td th:text="${profile.red_cards}"></td>
    </tr>
    </tbody>
</table>
</body>
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});

$("#myTable tbody tr").click(function(){
   var value=$(this).find('td:first').html();
   window.location.href = "/players/"+value;
});
</script>
</html>